@model photosharing.ViewModels.RegistrationModel

<div class="form_container">
    <form asp-action="Registration" asp-controller="Account" asp-anti-forgery="true" class="ps_form_container">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div class="ps_form_title">Registration</div>
            <div class="ps_form_input_wrapper">
                <label asp-for="Email" class="ps_form_label">Email</label>
                <input type="text" asp-for="Email" class="ps_form_input"/>
                <span asp-validation-for="Email" />
            </div>
            <div class="ps_form_input_wrapper">
                <label asp-for="Username" class="ps_form_label">Username</label>
                <input type="text" asp-for="Username" class="ps_form_input" />
                <span asp-validation-for="Username" />
            </div>
            <div class="ps_form_input_wrapper">
                <label asp-for="Password"  class="ps_form_label">Password</label>
                <input asp-for="Password"  class="ps_form_input"/>
                <span asp-validation-for="Password" />
            </div>
            <div class="ps_form_input_wrapper">
                <label asp-for="ConfirmPassword"  class="ps_form_label">Confirm password</label>
                <input asp-for="ConfirmPassword"  class="ps_form_input"/>
                <span asp-validation-for="ConfirmPassword" />
            </div>
          
                <input type="submit" value="Registration" class="ps_form_button" />
          
    </form>
</div>